<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cart</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" />
  <link rel="stylesheet" href="../assets/style/cart.scss" />
  <link rel="stylesheet" href="../assets/style/header.scss" />
  <link rel="stylesheet" href="../assets/style/footer.scss" />
</head>

<body>
  <header class="header">
    <div class="container">
      <div class="header-inner">
        <a href="../index.html" class="header__logo">
          <img src="../assets/image/logo.svg" alt="" />
        </a>
        <div class="button-mobile"><button id="toggle-menu">=</button></div>
        <nav class="main-menu">
          <ul class="main-menu__list">
            <li class="main-menu__item">
              <a href="../index.html" class="main-menu__link">Home</a>
            </li>
            <li class="main-menu__item">
              <a href="./shop.html" class="main-menu__link">Shop</a>
            </li>
            <li class="main-menu__item">
              <a href="" class="main-menu__link">About</a>
            </li>
            <li class="main-menu__item">
              <a href="" class="main-menu__link">Contact</a>
            </li>
          </ul>
        </nav>
        <nav class="mobile-menu">
          <ul class="mobile-menu__list">
            <li class="mobile-menu__item">
              <a href="../index.html" class="mobile-menu__link">Home Mobile</a>
            </li>
            <li class="mobile-menu__item">
              <a href="./shop.html" class="mobile-menu__link">Shop</a>
            </li>
            <li class="mobile-menu__item">
              <a href="" class="mobile-menu__link">About</a>
            </li>
            <li class="mobile-menu__item">
              <a href="" class="mobile-menu__link">Contact</a>
            </li>
            <li class="mobile-menu__item">
              <a href="" class="mobile-menu__link">Account</a>
            </li>
            <li class="mobile-menu__item">
              <a href="" class="mobile-menu__link">Search</a>
            </li>
            <li class="mobile-menu__item">
              <a href="" class="mobile-menu__link">Wish List</a>
            </li>
            <li class="mobile-menu__item">
              <a href="./cart.html" class="mobile-menu__link">Cart</a>
            </li>
          </ul>
        </nav>
        <div class="header-items">
          <div class="header-items">
            <div class="header-item-user">
              <span><img src="../assets/image/icons/account.svg" /></span>
            </div>
            <div class="header-item-user">
              <span><img src="../assets/image/icons/search.svg" /></span>
            </div>
            <div class="header-item-user">
              <span><img src="../assets/image/icons/like.svg" /></span>
            </div>
            <div class="header-item-user">
              <a href="./cart.html"><img src="../assets/image/icons/cart.svg" /></a>
            </div>
          </div>
        </div>
      </div>
  </header>
  <section class="banner">
    <img src="../assets/image/banner/home.svg" alt="" class="banner__img" />
    <div class="banner-nav">
      <img class="banner-nav__logo" src="../assets/image/banner/logo.svg" alt="">
      <h1 class="banner-nav__page">Cart</h1>
      <div class="banner-nav-sub">
        <span class="banner-nav-sub__home">Home</span>
        <img class="banner-nav-sub__arrow" src="../assets/image/icons/arrow.svg" alt="">
        <span class="banner-nav-sub__current">Cart</span>
      </div>
    </div>
  </section>
  <!--End .banner-->
  <section class="cart">
    <div class="cart-container">
      <div class="cart-list">
        <table class="cart-table">
          <thead>
            <tr>
              <th colspan="2" class="cart__item">Product</th>
              <th class="cart__item">Price</th>
              <th class="cart__item">Quantity</th>
              <th class="cart__item">Subtutal</th>
              <th class="cart__item"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="cart__item"><img src="../assets/image/product/Asgaard_sofa.svg" alt=""></td>
              <td class="cart__item">Asgaard sofa</td>
              <td class="cart__item" id="price">25000000</td>
              <td class="cart__item"><input id="quantity" type="number" value="1"></td>
              <td class="cart__item"><span id="sub">25000000</span></td>
              <td class="cart__item"><button class="cart-bin"><img src="../assets/image/icons/bin.svg" alt=""></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="cart-total">
        <div class="cart-body">
          <h1 class="cart__title">Cart Totals</h1>
          <div class="cart-group">
            <h4>Subtotal</h4>
              <span id="sub-price">2500000</span>
            </div>
          </div>
          <div class="cart-group">
            <h4>Total</h4>
              <span id="total-price">2500000</span>
          </div>
          <span class="cart-checkout">Check Out</span>
        </div>
      </div>
    </div>
  </section>
  <section class="services">
    <div class="container-fluid">
      <div class="service-list">
        <div class="service-item">
          <img src="../assets/image/icons/cup.svg" class="service__image" />
          <div class="service-info">
            <h4 class="service__name">High Quality</h4>
            <p class="service__description">crafted from top materials</p>
          </div>
        </div>
        <!--End service-item-->
        <div class="service-item">
          <img src="../assets/image/icons/v.svg" class="service__image" />
          <div class="service-info">
            <h4 class="service__name">High Quality</h4>
            <p class="service__description">crafted from top materials</p>
          </div>
        </div>
        <!--End service-item-->
        <div class="service-item">
          <img src="../assets/image/icons/ship.svg" class="service__image" />
          <div class="service-info">
            <h4 class="service__name">High Quality</h4>
            <p class="service__description">crafted from top materials</p>
          </div>
        </div>
        <!--End service-item-->
        <div class="service-item">
          <img src="../assets/image/icons/contact.svg" class="service__image" />
          <div class="service-info">
            <h4 class="service__name">High Quality</h4>
            <p class="service__description">crafted from top materials</p>
          </div>
        </div>
        <!--End service-item-->
      </div>
    </div>
  </section>
  <!--End .services-->
  <footer class="footer">
    <div class="container">
      <div class="footer-list">
        <div class="footer-item">
          <img src="../assets/image/logo.svg" alt="" />
          <p class="footer__address">
            400 University Drive Suite 200 Coral Gables, FL 33134 USA
          </p>
        </div>
        <div class="footer-nav">
          <div class="footer-item">
            <h2 class="footer__title">Links</h2>
            <ul class="footer-menu-list">
              <li class="footer-menu-item">
                <a href="" class="footer-menu-link">Home</a>
              </li>
              <li class="footer-menu-item">
                <a href="" class="footer-menu-link">Shop</a>
              </li>
              <li class="footer-menu-item">
                <a href="" class="footer-menu-link">Blog</a>
              </li>
              <li class="footer-menu-item">
                <a href="" class="footer-menu-link">Contact</a>
              </li>
            </ul>
          </div>
          <div class="footer-item">
            <h2 class="footer__title">Help</h2>
            <ul class="footer-menu-list">
              <li class="footer-menu-item">
                <a href="" class="footer-menu-link">Payment Options</a>
              </li>
              <li class="footer-menu-item">
                <a href="" class="footer-menu-link">Returns</a>
              </li>
              <li class="footer-menu-item">
                <a href="" class="footer-menu-link">Privacy Policies</a>
              </li>
              <li class="footer-menu-item">
                <a href="" class="footer-menu-link">Contact</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-item">
          <h2 class="footer__title">Newsletter</h2>
          <form action="" class="newsletter">
            <input type="text" class="newsletter__input" placeholder="Enter Your Email Address" />
            <button class="newsletter__btn">Subscribe</button>
          </form>
        </div>
      </div>
      <p class="copyright">2023 furino. All rights reverved</p>
    </div>
  </footer>
</body>
<script src="../assets/js/mobileMenu.js"></script>
<script src="../assets/js/math.js"></script>
</html>