<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/header.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Product</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" />
  <link rel="stylesheet" href="../assets/style/detail.scss" />
  <link rel="stylesheet" href="../assets/style/header.scss" />
  <link rel="stylesheet" href="../assets/style/footer.scss" />
</head>

<body>
  <header class="header">
    <div class="container">
      <div class="header-inner">
        <a href="../index.html" class="header__logo">
          <img src="../assets/image/logo.svg" alt="" />
        </a>
        <div class="button-mobile">
          <button id="toggle-menu">
            <hr>
            <hr>
            <hr>
          </button>
        </div>
        <nav class="main-menu">
          <ul class="main-menu__list">
            <li class="main-menu__item">
              <a href="../index.html" class="main-menu__link">Home</a>
            </li>
            <li class="main-menu__item">
              <a href="" class="main-menu__link">Shop</a>
            </li>
            <li class="main-menu__item">
              <a href="" class="main-menu__link">About</a>
            </li>
            <li class="main-menu__item">
              <a href="" class="main-menu__link">Contact</a>
            </li>
          </ul>
        </nav>
        <nav class="mobile-menu">
          <ul class="mobile-menu__list">
            <li class="mobile-menu__item">
              <a href="../index.html" class="mobile-menu__link">Home Mobile</a>
            </li>
            <li class="mobile-menu__item">
              <a href="./shop.html" class="mobile-menu__link">Shop</a>
            </li>
            <li class="mobile-menu__item">
              <a href="" class="mobile-menu__link">About</a>
            </li>
            <li class="mobile-menu__item">
              <a href="" class="mobile-menu__link">Contact</a>
            </li>
            <li class="mobile-menu__item">
              <btn onclick="handleUser()" class="mobile-menu__link">Account</b>
            </li>
            <li class="mobile-menu__item">
              <a href="" class="mobile-menu__link">Search</a>
            </li>
            <li class="mobile-menu__item">
              <a href="" class="mobile-menu__link">Wish List</a>
            </li>
            <li class="mobile-menu__item">
              <a href="./cart.html" class="mobile-menu__link">Cart</a>
            </li>
          </ul>
        </nav>
        <div class="header-items">
          <div class="header-items">
            <btn class="header-item-user" onclick="handleUser()">
              <img src="../assets/image/icons/account.svg" />
            </btn>
            <div class="header-item-user">
              <span><img src="../assets/image/icons/search.svg" /></span>
            </div>
            <div class="header-item-user">
              <span><img src="../assets/image/icons/like.svg" /></span>
            </div>
            <div class="header-item-user">
              <a href="./cart.html"><img src="../assets/image/icons/cart.svg" /></a>
            </div>
          </div>
        </div>
      </div>
  </header>
  <!-- Search bar -->
  <section class="navbar">
    <div class="container">
      <span class="navbar__home">Home</span>
      <img class="navbar__arrow" src="../assets/image/icons/arrow.svg" alt="">
      <span class="navbar__next">Shop</span>
      <img class="navbar__arrow" src="../assets/image/icons/arrow.svg" alt="">
      <span class="navbar__current">Asgaard sofa</span>
    </div>
  </section>
  <!-- start detail product -->
  <section class="detail">
    <div class="container">
      <div class="image">
        <div class="image-list">
          <img src="../assets/image/detail/item1.svg" alt="" class="image__item">
          <img src="../assets/image/detail/item2.svg" alt="" class="image__item">
          <img src="../assets/image/detail/item3.svg" alt="" class="image__item">
          <img src="../assets/image/detail/item4.svg" alt="" class="image__item">
        </div>
        <img src="../assets/image/detail/item1.svg" alt="" id="image" class="image__main">
      </div>
      <div class="info">
        <div class="info-product">
          <h2 class="product__title">Asgaard sofa</h2>
          <span class="info__price">25.000.000<sub>đ</sub></span>
          <div class="star">
            <div class="star-list">
              <img class="star__item" src="../assets/image/detail/star.svg" alt="">
              <img class="star__item" src="../assets/image/detail/star.svg" alt="">
              <img class="star__item" src="../assets/image/detail/star.svg" alt="">
              <img class="star__item" src="../assets/image/detail/star.svg" alt="">
              <img class="star__item" src="../assets/image/detail/half_star.svg" alt="">
            </div>
            <span>5 Customer Review</span>
          </div>
          <p>Setting the bar as one of the loudest speakers in its class, the Kilburn is a compact, stout-hearted hero
            with a well-balanced audio which boasts a clear midrange and extended highs for a sound.
          </p>
          <span class="info__title">Size</span>
          <div class="size">
            <div class="size__item">L</div>
            <div class="size__item">XL</div>
            <div class="size__item">XS</div>
          </div>
          <span>Color</span>
          <div class="color">
            <div class="color__item"></div>
            <div class="color__item"></div>
            <div class="color__item"></div>
          </div>
          <div class="action">
            <div class="action-quantity">
              <span id="minus">-</span>
              <span id="quantity">1</span>
              <span id="plus">+</span>
            </div>
            <a href="./cart.html" class="btn">Add To Cart</a>
            <button>+ Compare</button>
          </div>
        </div>
        <div class="info">
          <div class="info-group">
            <span class="info__title">SKU</span>
            <div class="info-body">
              <span class="info__2dots">:</span>
              <span class="info__title">SS001</span>
            </div>
          </div>
          <div class="info-group">
            <span class="info__title">Category</span>
            <div class="info-body">
              <span class="info__2dots">:</span>
              <span class="info__title">Sofas</span>
            </div>
          </div>
          <div class="info-group">
            <span class="info__title">Tags</span>
            <div class="info-body">
              <span class="info__2dots">:</span>
              <span class="info__title">Sofa, Chair, Home, Shop</span>
            </div>
          </div>
          <div class="info-group">
            <span class="info__title">Share</span>
            <div class="info-body">
              <span class="info__2dots">:</span>
              <div class="info-social">
                <img src="../assets/image/icons/facebook.svg" alt="">
                <img src="../assets/image/icons/instagram.svg" alt="">
                <img src="../assets/image/icons/twitter.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="illustration">
    <div class="container">
      <div class="illustration-group">
        <div class="illustration-titles">
          <h4 class="illustration__title">Description</h4>
          <h4 class="illustration__title">Additional</h4>
          <h4 class="illustration__title">Review [5]</h4>
        </div>
        <div class="illustration-items">
          <p class="illustration__item">
            Embodying the raw, wayward spirit of rock ‘n’ roll, the Kilburn portable active stereo speaker takes the
            unmistakable look and sound of Marshall, unplugs the chords, and takes the show on the road.
            <br><br>
            Weighing in under 7 pounds, the Kilburn is a lightweight piece of vintage styled engineering. Setting the
            bar as one of the loudest speakers in its class, the Kilburn is a compact, stout-hearted hero with a
            well-balanced audio which boasts a clear midrange and extended highs for a sound that is both articulate and
            pronounced. The analogue knobs allow you to fine tune the controls to your personal preferences while the
            guitar-influenced leather strap enables easy and stylish travel.
          </p>
          <p class="illustration__item"></p>
          <p class="illustration__item"></p>
        </div>
      </div>
      <div class="illustration-banner">
        <img src="../assets/image/detail/banner1.svg" alt="">
        <img src="../assets/image/detail/banner1.svg" alt="">
      </div>
    </div>
  </section>
  <section class="product">
    <div class="container">
      <div class="section-heading">
        <h2 class="section-heading__title">Related Products</h2>
      </div>
      <div class="section-body">
        <div class="product-list">
          <div class="product-item">
            <div class="product-image">
              <img src="../assets/image/product/image 1.svg" alt="" class="product__thumbnail" />
              <span class="product-sale">30%</span>
            </div>
            <div class="product-info">
              <h3 class="product__name">
                <a href="" class="product__link">Syltherine</a>
              </h3>
              <a href="" class="product__category">Stylish cafe chair</a>
              <div class="product-price">
                <span class="product-price__new">3.500.000 <sup>đ</sup></span>
                <span class="product-price__old">5.000.000 <sup>đ</sup></span>
              </div>
            </div>
            <div class="product-actions">
              <a href="./views/detail.html" class="btn product-action__quickview">View Product</a>
              <button class="btn product-action__addtocart">Add To Cart</button>
              <div class="product-actions-more">
                <div class="product-action-more-share">
                  <img class="product-action-more__icon" src="./assets/image/icons/share.svg" alt="">
                  <span>Share</span>
                </div>
                <div class="product-action-more-compare">
                  <img class="product-action-more__icon" src="./assets/image/icons/compare.svg" alt="">
                </div>
                <div class="product-action-more-like">
                  <img class="product-action-more__icon" src="./assets/image/icons/love.svg" alt="">
                  <span>Like</span>
                </div>
              </div>
            </div>
          </div>
          <!--End .product-item-->
          <div class="product-item">
            <div class="product-image">
              <img src="../assets/image/product/images.svg" alt="" class="product__thumbnail" />
            </div>
            <div class="product-info">
              <h3 class="product__name">
                <a href="" class="product__link">Laviosa</a>
              </h3>
              <a href="" class="product__category">Stylish cafe chair</a>
              <div class="product-price">
                <span class="product-price__new">2.500.000 <sup>đ</sup></span>
              </div>
            </div>
            <div class="product-actions">
              <a href="./views/detail.html" class="btn product-action__quickview">View Product</a>
              <button class="btn product-action__addtocart">Add To Cart</button>
              <div class="product-actions-more">
                <div class="product-action-more-share">
                  <img class="product-action-more__icon" src="./assets/image/icons/share.svg" alt="">
                  <span>Share</span>
                </div>
                <div class="product-action-more-compare">
                  <img class="product-action-more__icon" src="./assets/image/icons/compare.svg" alt="">
                </div>
                <div class="product-action-more-like">
                  <img class="product-action-more__icon" src="./assets/image/icons/love.svg" alt="">
                  <span>Like</span>
                </div>
              </div>
            </div>
          </div>
          <!--End .product-item-->
          <div class="product-item">
            <div class="product-image">
              <img src="../assets/image/product/image 3.svg" alt="" class="product__thumbnail" />
              <span class="product-sale">50%</span>
            </div>
            <div class="product-info">
              <h3 class="product__name">
                <a href="" class="product__link">Lolito</a>
              </h3>
              <a href="" class="product__category">Luxury big sofa</a>
              <div class="product-price">
                <span class="product-price__new">5.000.000 <sup>đ</sup></span>
                <span class="product-price__old">2.500.000 <sup>đ</sup></span>
              </div>
            </div>
            <div class="product-actions">
              <a href="./views/detail.html" class="btn product-action__quickview">View Product</a>
              <button class="btn product-action__addtocart">Add To Cart</button>
              <div class="product-actions-more">
                <div class="product-action-more-share">
                  <img class="product-action-more__icon" src="./assets/image/icons/share.svg" alt="">
                  <span>Share</span>
                </div>
                <div class="product-action-more-compare">
                  <img class="product-action-more__icon" src="./assets/image/icons/compare.svg" alt="">
                </div>
                <div class="product-action-more-like">
                  <img class="product-action-more__icon" src="./assets/image/icons/love.svg" alt="">
                  <span>Like</span>
                </div>
              </div>
            </div>
          </div>
          <!--End .product-item-->
          <div class="product-item">
            <div class="product-image">
              <img src="../assets/image/product/image 4.svg" alt="" class="product__thumbnail" />
              <span class="product-new">New</span>
            </div>
            <div class="product-info">
              <h3 class="product__name">
                <a href="" class="product__link">Respira</a>
              </h3>
              <a href="" class="product__category">Outdoor bar table and stool</a>
              <div class="product-price">
                <span class="product-price__new">3.500.000 <sup>đ</sup></span>
              </div>
            </div>
            <div class="product-actions">
              <a href="./views/detail.html" class="btn product-action__quickview">View Product</a>
              <button class="btn product-action__addtocart">Add To Cart</button>
              <div class="product-actions-more">
                <div class="product-action-more-share">
                  <img class="product-action-more__icon" src="./assets/image/icons/share.svg" alt="">
                  <span>Share</span>
                </div>
                <div class="product-action-more-compare">
                  <img class="product-action-more__icon" src="./assets/image/icons/compare.svg" alt="">
                </div>
                <div class="product-action-more-like">
                  <img class="product-action-more__icon" src="./assets/image/icons/love.svg" alt="">
                  <span>Like</span>
                </div>
              </div>
            </div>
          </div>
          <!--End .product-item-->
        </div>
        <span class="product__more">Show More</span>
      </div>
    </div>
  </section>
  <!-- End search bar -->
  <footer class="footer">
    <div class="container">
      <div class="footer-list">
        <div class="footer-item">
          <img src="../assets/image/logo.svg" alt="" />
          <p class="footer__address">
            400 University Drive Suite 200 Coral Gables, FL 33134 USA
          </p>
        </div>
        <div class="footer-nav">
          <div class="footer-item">
            <h2 class="footer__title">Links</h2>
            <ul class="footer-menu-list">
              <li class="footer-menu-item">
                <a href="" class="footer-menu-link">Home</a>
              </li>
              <li class="footer-menu-item">
                <a href="" class="footer-menu-link">Shop</a>
              </li>
              <li class="footer-menu-item">
                <a href="" class="footer-menu-link">Blog</a>
              </li>
              <li class="footer-menu-item">
                <a href="" class="footer-menu-link">Contact</a>
              </li>
            </ul>
          </div>
          <div class="footer-item">
            <h2 class="footer__title">Help</h2>
            <ul class="footer-menu-list">
              <li class="footer-menu-item">
                <a href="" class="footer-menu-link">Payment Options</a>
              </li>
              <li class="footer-menu-item">
                <a href="" class="footer-menu-link">Returns</a>
              </li>
              <li class="footer-menu-item">
                <a href="" class="footer-menu-link">Privacy Policies</a>
              </li>
              <li class="footer-menu-item">
                <a href="" class="footer-menu-link">Contact</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-item">
          <h2 class="footer__title">Newsletter</h2>
          <form action="" class="newsletter">
            <input type="text" class="newsletter__input" placeholder="Enter Your Email Address" />
            <button class="newsletter__btn">Subscribe</button>
          </form>
        </div>
      </div>
      <p class="copyright">2023 furino. All rights reverved</p>
    </div>
  </footer>
  <div class="login" id="user">
    <div class="login-form">
      <div class="login-close">
        <strong class="login__close" id="close">X</strong>
      </div>
      <div class="login-boxs">
        <div class="login-title">
          <div class="login__title">Login</div>
        </div>
        <div class="login-box">
          <div class="login-user">
            <h5>Username</h5>
            <input type="text" name="" id="">
          </div>
          <div class="login-user">
            <h5>Password</h5>
            <input type="text" name="" id="">
          </div>
        </div>
        <div class="login-btn">
          <button>Login</button>
        </div>
        <div class="login-box">
          <div class="login-social">
            <img src="../assets/image/icons/facebook-f.svg" alt="">
            <h5>Facebook</h5>
          </div>
          <div class="login-social">
            <img src="../assets/image/icons/google.svg" alt="">
            <h5>Google</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  var menu = document.querySelector(".mobile-menu");
  document.addEventListener("DOMContentLoaded", function () {
    var toggleBtn = document.getElementById("toggle-menu");
    menu.style.display = "none";
    toggleBtn.addEventListener("click", function () {
      if (menu.style.display === "none") {
        menu.style.display = "block";
      } else {
        menu.style.display = "none";
      }
    });
    window.addEventListener("resize", function () {
      var windowWidth = window.innerWidth;
      if (windowWidth >= 992) {
        menu.style.display = "none";
      }
    });
  });
  const imageList = document.querySelectorAll(".image__item");
  const mainImage = document.getElementById("image");

  imageList.forEach(item => {
    item.addEventListener('click', function () {
      mainImage.src = this.src;
    });
  });
  const minusButton = document.getElementById("minus");
  const plusButton = document.getElementById("plus");
  const quantityElement = document.getElementById("quantity");
  minusButton.addEventListener('click', function () {
    let currentQuantity = parseInt(quantityElement.textContent);
    if (currentQuantity > 0) {
      currentQuantity--;
      quantityElement.textContent = currentQuantity;
    }
  });
  plusButton.addEventListener('click', function () {
    let currentQuantity = parseInt(quantityElement.textContent);
    currentQuantity++;
    quantityElement.textContent = currentQuantity;
  });

   var toggleBtn = document.getElementById("user");
  var close = document.getElementById("close");
  toggleBtn.style.display = "none";
  function handleUser() {
    menu.style.display = "none";
    toggleBtn.style.display = "flex";
  }
  close.addEventListener("click", function () {
    toggleBtn.style.display = "none";
  });</script>

</html>