@use "_mixin.scss" as m;
.header {
    position: relative;
    &-inner {
        padding: 28px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include m.breakpoint(lg) {
        }
    }
    &-inner > * {
        flex: 1;
    }
    &-items {
        display: none;

        @include m.breakpoint(lg) {
            display: flex;
            justify-content: flex-end;
        }
    }
    &-items > * {
        margin-left: 37px;
    }
}
.button-mobile {
    display: none; // Hide by default on larger screens
    text-align: right;
    display: inline-block;
    @include m.breakpoint(lg) {
        display: none;
    }
    button {
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
        hr {
            display: block;
            width: 25px; // Adjust line width as needed
            height: 3px; // Adjust line height as needed
            background-color: #333; // Adjust line color as needed
            margin: 5px auto; // Adjust line spacing as needed
        }
    }
}
.main-menu {
    display: none;
    @include m.breakpoint(lg) {
        display: block;
    }
    &__list {
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }
    &__link {
        font-size: 18px;
        display: block;
        padding: 10px 35px;
        text-decoration: none;
        color: #000;
    }
    &__link:hover {
        color: #fff;
        background: #000;
    }
}
.mobile-menu {
    z-index: 999;
    opacity: 0.7;
    display: block;
    @include m.breakpoint(lg) {
        display: none;
    }
    position: absolute;
    background-color: #000000;
    top: 100%;
    left: 0;
    width: 100%;
    &__list {
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__link {
        font-size: 18px;
        display: block;
        padding: 10px 35px;
        text-decoration: none;
        color: #ffffff;
    }
    &__link:hover {
        color: #b88e2f;
    }
}
.login {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(167, 161, 161, 0.7);
    z-index: 997;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    opacity: 1;
    &-form {
        margin-top: 100px;
        padding: 20px;
        border-radius: 3px;
        width: 767px;
        height: 550px;
        background-color: white;
    }
    &-close {
        width: 100%;
        font-size: 17px;
        font-weight: 900px;
        text-align: end;
    }
    &__close {
        padding: 1px 6px;
        color: #ffffff;
        background-color: #000;
        border-radius: 2px;
    }
    &-title {
        text-align: center;
    }
    &__title {
        font-size: 30px;
        font-weight: 700;
        color: #b88e2f;
    }
    &-boxs {
        margin: 0 auto;
        width: 550px;
        padding: 20px;
        border-radius: 5px;
    }
    &-box {
        margin-bottom: 20px;
        &:last-child{
            display: flex;
            justify-content: space-between;
        }
    }
    &-user {
        margin-bottom: 10px;
        h5 {
            font-size: 22px;
            font-weight: 450;
            margin-bottom: 5px;
            color: #b88e2f;
        }
        input[type="text"],
        input[type="password"] {
            width: 100%;
            height: 60px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }
    }
    &-btn{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        button {
            font-size: 20px;
            font-weight: 700;
            width: 130px;
            height: 65px;
            padding: 10px;
            background-color:#F9F1E7;
            color: #000;
            border: none;
            border-radius: 7px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
    }


    button:hover {
        background-color: #0056b3;
    }

    &-social {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        padding: 10px;
        width: 170px;
        height: 44px;
        display: flex;
        border-radius: 15px;
        align-items: center;
        margin-bottom: 10px;
        &:first-child{
            background: #0171D3;
        }
        &:last-child{
            border: 1px solid black;
        }
        img {
            width: 20px;
            height: 20px;
        }
        h5 {
            margin-left: 10px;
            color: #fff;
            font-family: 900;
            font-size: 20px;
            &:last-child{
                color: black;
            }
        }
    }
}