@use "_mixin.scss" as m;
$font-poppins: "Poppins", sans-serif;

body {
    font-family: $font-poppins;
}
img {
    max-width: 100%;
    height: auto;
}
.container {
    max-width: 1268px;
    display: block;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
//Banner
.banner {
    position: relative;
    height: 316px;
      &__img {
          width: 100%;
          height: 100%;
          object-fit: cover;
      }
      &-nav{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        &__page{
          font-size: 48px;
        }
        &-sub{
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 16px;
          &__home{
            font-weight: 550;
          }
        }
      }
  }
  .search{
    &-bar{
        background-color: #F9F1E7;
        width: 100%;
        height: auto;
        font-size: 20px;
        padding: 30px 0;
    }
    &-container{
        height: 100%;
        @include m.grid(1, 30px);
        @include m.breakpoint(md) {
        @include m.grid(2, 30px);
        }
    }
    &-above{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    &__item{
        margin: 0 10px;
    }
    &-filter{
        border-right: solid 1px black;
    }
    &__showing{
        margin: 0 10px;
        font-size: 16px;
    }
    &-below{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @include m.breakpoint(md) {
            justify-content: flex-end;
        }
    }
    &__title{
        padding: 10px;
    }
    &__box{
        color: #9F9F9F;
        padding: 10px;
        background-color: rgb(255, 255, 255);
    }
    &-show{
        display: flex;
    }
    &-short{
        display: flex;
    }
  }
  .product {
    padding: 25px 0;
    &-list {
        @include m.grid(1, 30px);
        @include m.breakpoint(sm) {
            @include m.grid(2, 30px);
        }
        @include m.breakpoint(lg) {
            @include m.grid(4, 30px);
        }
    }
    &-item {
        position: relative;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
    &-item:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    &-image {
        position: relative;
        overflow: hidden;
    }
    &-sale {
        background: #e97171;
        position: absolute;
        top: 20px;
        right: 20px;
        border-radius: 100%;
        width: 48px;
        height: 48px;
        line-height: 48px;
        text-align: center;
        color: #fff;
    }
    &-new {
        background: #2ec1ac;
        position: absolute;
        top: 20px;
        right: 20px;
        border-radius: 100%;
        width: 48px;
        height: 48px;
        line-height: 48px;
        text-align: center;
        color: #fff;
    }
    &__thumbnail {
        transform: scale(1);
        transition: all 0.3s ease-in-out;
        width: 100%;
        @include m.breakpoint(md) {
            height: 302px;
        }
        object-fit: cover;
    }
    &-item:hover &__thumbnail {
        transform: scale(1.1);
    }
    &-info {
        padding: 15px;
        background: #f4f5f7;
    }
    &__name {
        font-size: 24px;
        margin: 0;
        padding: 0;
    }
    &__link {
        text-decoration: none;
        color: #3a3a3a;
    }
    &__category {
        color: #898989;
        text-decoration: none;
        display: block;
        margin: 13px 0;
    }
    &-price {
        display: flex;
        justify-content: space-between;
        &__new{
          color: #3a3a3a;
          font-size: 20px;
          font-weight: 600;
        }
        &__old{
          color: #9f9f9f;
          font-size: 16px;
          text-decoration: line-through;
        }
    }
    &-item:hover &-actions {
        opacity: 1;
    }
    &-actions {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        top: 0;
        opacity: 0;
        transition: 0.3s ease-in-out;
        color: #fff;

        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        &-more {
          width: 174px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
    }
    &-actions > * {
        text-align: center;
        margin-bottom: 15px;
        cursor: pointer;
    }
    &-actions > button{
        width: 200px;
        height: 40px;
        color: #B88E2F;
        background-color: #fff;
        font-weight: 500;
        border: none;
        
    }
    &-actions > a{
        width: 200px;
        height: 40px;
        line-height: 40px;
        color: #B88E2F;
        font-weight: 500;
        background-color: #fff;
        text-decoration: none;
    }
}