@use "_mixin.scss" as m;
$font-poppins: "Poppins", sans-serif;

body {
    font-family: $font-poppins;
}
img {
    max-width: 100%;
    height: auto;
}
.container {
    max-width: 1268px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
